
@{
    ViewData["Title"] = "AddToFavs";
}

<h1>AddToFavs</h1>

@model ApiProject.Models.Movies

<table type="table">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rated</th>
        <th>Language</th>
        <th>Genre</th>
    </tr>
    @foreach (var favorite in Model.FavoritesArray)
    {
        <tr>@favorite.Title</tr>
        <tr>@favorite.Released</tr>
        <tr>@favorite.Rated</tr>
        <tr>@favorite.Language</tr>
    }
</table>