
@{
    ViewData["Title"] = "SearchResults";
}


@model  ApiProject.Models.Movies


<h1>SearchResults</h1>

<table class="table table-bordered table table-hover">

    <tr>
        <th>Movie Title</th>
        <th>Release Year</th>
    </tr>
    @if(Model.Search != null)
    {
        @foreach(var movie in Model.Search)
        {
         <tr>
         
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td><a href="/Home/AddToFavs?imdbID=@movie.imdbID" class="btn">Add to favorites</a></td>
            <td><form asp-action="AddToFavs" asp-controller="Home" method="post">
                <input type="hidden" name="@movie.imdbID" />
                <input type="submit" value="Add to favorites"/>
                </form>
             </td>
        </tr>
        }
    }
</table>